* {
  margin: 0;
  padding: 0;
}
section {
  background-color: #f1f1f196;
}
#nav {
  background-image: url(../images/background-1409125.svg);
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4141c5;
}
#lpage {
  height: 30vh;
  width: 20vw;
  padding-left: 20vw;
}
section > div > h1 {
  padding: 0 1.5rem 1.5rem 0;
}
#nav > div {
  color: white;
  padding-right: 10vw;
}

#comments,
#cards {
  display: flex;
  justify-content: center;
  padding: 0 10vw;
}
#comments > div,
#cards > div {
  /* margin: 0 2rem; */
  margin: 2rem;
  padding: 2rem;
}

blockquote {
  color: #747474;
}
blockquote:before {
  color: #747474;
  content: "“";
  vertical-align: super;
  font-size: medium;
  font-size: 2em;
}

#comments > div img {
  float: right;
  width: 5rem;
}
#cards > div {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
#cards > div > * {
  margin: 0.5rem;
}
#cards > div > img {
  width: 200px;
  height: 100px;
}
.btn {
  color: white;
  padding: 0.5rem;
}
.btn-blue {
  color: white;
  background-color: #4141c5;
  padding: 0.5rem;
}
#ad {
  display: flex;
  justify-content: center;
  background-color: white;

  align-items: center;
  padding: 1rem;
}
#ad > * {
  margin: 0 2rem;
  font-weight: bold;
}
.btn-orange {
  background-color: orangered;
}
#testimonials {
  padding-top: 1.5rem;
}
#tcards {
  display: flex;
  margin: 0 11vw;
  /* padding-left: 20vw; */
}
#testimonials > h3,
hr {
  position: relative;
  left: 11vw;
  width: 75vw;
  margin: 0 1rem;
}
#testimonials > div img {
  width: 100px;
  height: 100px;
}

.arrow_box {
  position: relative;
  background: #fff;
  border: 4px solid #fff;
  padding: 1rem;
}
.arrow_box:after,
.arrow_box:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 30px;
  margin-left: -30px;
}
.arrow_box:before {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 36px;
  margin-left: -36px;
}
.dp {
  border-radius: 50%;
}
#tcards {
  padding-bottom: 2rem;
}
#tcards > div {
  margin: 0 1rem;
}

#tcards > div > div {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
.desg {
  padding: 1rem 0;
}
.desg > p a {
  color: rgb(0, 26, 255);
  text-decoration: none;
}
