/* Applied to 1 or more sections */
.text-blue {
  color: #0275d8;
}

.prev-next-container {
  width: 88vw;
}

.pl-12 {
  padding-left: 12%;
}
.pr-12 {
  padding-right: 12%;
}

.pr-10 {
  padding-right: 10%;
}

/* for Nav Section */
.nav-item :hover {
  color: #37bd32;
}
.nav-item {
  font-size: 0.75rem;
}

.nav-link,
.nav-item,
.b-select {
  color: grey;
  border: 0 solid transparent;
}
.b-select :hover {
  color: gray;
}
.navbar {
  padding-top: 0;
}

/* for logo section */
.notification {
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}
.notification:hover {
  background: #0275d8;
}

.notification:hover *, .notification:hover  {
  color: #fff ;
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: #0275d8;
}


/* for top bar section */
#top-bar .nav-item :hover,
#top-bar .active {
  background-color: #0275d8;
  color: white;
}

/* for carousel section */
.carousel {
  padding: 0 15vw;
}

.carousel-indicators li {
  background-color: darkslategrey;
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
}
.carousel-indicators .active {
  background-color: #37bd32;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #37bd32;
  border-radius: 100%;
}
.carousel-caption {
  left: 65%;
  top: 2vw;
  color: black;
  text-align: left;
}

.caption {
  color: #37bd32;
}

.carousel-prev-next {
  font-size: 1.5rem;
  color: #0275d8;
  padding: 0.2rem 0.6rem;
  /* margin: 0.5rem; */
  border-radius: 100%;
  border: 1px solid gray;
}

/* for mcards sectio */
.card > div > i {
  font-size: 3.5rem;
  padding: 1rem;
}
.card {
  color: #fff;
  height: 150px;
  width: 255px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
/* need to override bootstrap css for hover effect */
.card:hover {
  background-color: black !important;
}

/* for lastest  section */
#latest .container {
  width: 82vw;
}

/* for brands section */
.b-logo {
  width: 100px;
  height: 100px;
}

/* for all section */
#id > container {
  width: 80vw;
}

.prod-img {
  width: 100px;
}

.checked {
  color: yellow;
}
