body {
  background-image: url(../images/background-1409125.svg);
  background-color: blue;
}

body > div {
  height: 100vh;
}
form {
  width: 400px;
  background-color: white;
}

.bg-error {
  background-color: rgba(253, 115, 115, 0.116);
}

@media only screen and (max-width: 500px) {
  form {
    width: 90vw;
  }
}
